#login-btn {
  width: 396px;
  height: 50px;
  background-color: white;
  border-radius: 9px;
  border: 1px solid #ddd;
  font-size: 20px;
}



#btn-div {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
